body {
    background: #f0f0f0;
    color: #333;
    text-align: center;
    font-family: "LINE Seed JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
}

.line-seed-jp-thin {
    font-family: "LINE Seed JP", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.line-seed-jp-regular {
    font-family: "LINE Seed JP", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.line-seed-jp-bold {
    font-family: "LINE Seed JP", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.line-seed-jp-extrabold {
    font-family: "LINE Seed JP", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.strVerRl {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

    div {
        writing-mode: vertical-rl;
    }
}

#sndBtn {
    background-image: linear-gradient(321deg, #ff3fff, #8441ff);
    border: 0;
    color: #f0f0f0;
    margin-bottom: 200px;
}

.plstGame {
    margin-bottom: 200px;
    div {
        display: block;
        list-style: none;
    }
}

.music-item:nth-child(1) {
    background-color: #584e10;
    color: #f0f0f0;
    border: none;
}

.music-item:nth-child(2) {
    background-color: #102258;
    color: #f0f0f0;
    border: none;
}

.music-item:nth-child(3) {
    background-color: #195810;
    color: #f0f0f0;
    border: none;
}

.music-item:nth-child(4) {
    background-color: #335810;
    color: #f0f0f0;
    border: none;
}

.music-item:nth-child(5) {
    background-color: #581042;
    color: #f0f0f0;
    border: none;
}

.music-item:nth-child(6) {
    background-color: #104158;
    color: #f0f0f0;
    border: none;
}

.music-item:nth-child(7) {
    background-color: #1d1058;
    color: #f0f0f0;
    border: none;
}

.music-item:nth-child(8) {
    background-color: #581e10;
    color: #f0f0f0;
    border: none;
}

.music-item:nth-child(9) {
    background-color: #581310;
    color: #f0f0f0;
    border: none;
}

.music-item:nth-child(10) {
    background-color: #581010;
    color: #f0f0f0;
    border: none;
}
